@page
@model WebApp.Pages.JobItems.IndexModel

<h1>Job items</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobItem[0].Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobItem[0].Job)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobItem[0].QuantityNeeded)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.JobItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item!.Item!.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item!.Job!.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityNeeded)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.JobItemId">Edit</a> |
                <a asp-page="./Delete" asp-route-id="@item.JobItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
